/* MAIN PAGE COMPONENTS */

.recipe-page-component {
  position: relative;
}

/* RECIPE COMPONENTS */

.recipe-container {
  display: flex;
  justify-content: center;
};

.recipe-page-container {
  width: 50%;
};

/* RECIPE DATA */

/* RECIPE IMAGE */

.recipe-image-and-rating-container {
  position:relative;
  width: 50%;
};

.recipe-image-container {
  position: relative;
  justify-content: center;
}

.recipe-page-image {
  width: 80%;
  justify-content: center;
}
.recipe-rating-container {
  position: absolute;
  top: 0%;
  right: 25%;
}

