/* MAIN PAGE COMPONENTS */

.recipe-page-component {
  position: relative;
  size: 75%;
  justify-content: center;
}

/* RECIPE COMPONENTS */

.recipe-container {
  display: flex;
  justify-content: center;
};

.recipe-page-container {
  width: 50%;
};

/* RECIPE DATA */

.recipe-data {
  background-color: pink
}

.recipe-name-and-user {
  background-color: #3F50B5;
}

.recipe-ingredients {
  background-color: pink;
}

.optional-recipe-data {
  background-color: #3F50B5;
}

.recipe-steps {
  background-color: pink;
}

/* RECIPE IMAGE */

.recipe-image-and-rating-container {
  position:relative;
  width: 50%;
  padding-left: 3%;
};

.recipe-image-container {
  position: relative;
  justify-content: center;
}

.recipe-page-image {
  width: 80%;
  justify-content: center;
}
.recipe-rating-container {
  position: absolute;
  top: 0%;
  right: 25%;
}

