@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body{
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

}
.login-page{
  font-family: 'Amatic SC', cursive;
}

.main-header{
  padding-bottom: 20px;
}

/* .MuiGrid-container {
  width: 114%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
} */


.MuiGrid-root.search-recipe-bar.MuiGrid-grid-xs-4 {
  padding-left: 25px;
}