@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body{
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
}

.login-page{
  font-family: 'Amatic SC', cursive;
}

.main-page-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 40px;
  margin-bottom: 37px;
  background: #e2dada;
  color: white;
  font-size: xxx-large;
  font-family: 'Amatic SC', cursive;
}
.title{
  color:black;
}

.logo{
  padding-left: 20px;
  width: 100px;
  height: 100px;
}

.titile-and-logo{
  display: flex;
  align-items: center;
}
.MuiGrid-root.search-recipe-bar.MuiGrid-grid-xs-4 {
  padding-left: 25px;
}

.main-footer-page{
  display: flex;
  align-items: center;
  background-color: #e2dada;
  height: 78px;
  justify-content: space-around;
}

.show-more-previous-buttons{
  display: flex;
  justify-content: space-between;
  padding: 20px 16px 20px 0px;
}

.user-page-name-and-avatar{
 display:flex;
}

.user-page-name{
  padding-left: 20px;
  color:black;
}

.user-friends-list{
  padding: 0px 100px;
}

.friend-list{
  height: 85vh;
  overflow-y: auto;
}

.friends-list-avatar-and-name{
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.friends-list-name{
  padding-left: 15px;
  color: black;
}

.add-remove-profile-grid{
  display: flex;
  justify-content: center;
}

.add-remove-friend{
  color: black;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  background-color: #e2dada;
  padding: 20px;
  cursor: default;
}
.add-remove-friend.add-remove-friend-button{
  cursor:pointer;
}

.user-page-catergory-carousel{
  padding-bottom: 20px;
  padding-right: 25px;
}
